.main {
  border: 1px solid var(--gray);
  border-radius: 8px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  padding: var(--spacer-12) var(--spacer-2);
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
}

.logoContainer {
  font-weight: 700;
  justify-content: center;
}

.heading {
  font-size: var(--medium);
  font-weight: 400;
  margin-block-start: var(--spacer-1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-2);
  margin-block-start: var(--spacer-2);
}

.form label {
  font-size: var(--small);
  position: relative;
}

.form span {
  /* font-size: var(--small); */
  left: 10px;
  position: absolute;
  top: 10px;
}

.form input {
  border: 2px solid var(--gray);
  border-radius: 4px;
  padding: var(--spacer-2) var(--spacer-4);
  width: 100%;
}

.form button[type="submit"] {
  align-self: center;
  background-color: var(--primary);
  border: 0;
  border-radius: 4px;
  color: var(--white);
  font-size: var(--small);
  padding: var(--spacer-1) var(--spacer-3);
}
