:root {
  /* Typography */

  --base-font-size: 1.125rem;
  --typescale-ratio: 1.333;

  --small: calc(var(--base-font-size) / var(--typescale-ratio));
  --smaller: calc(var(--small) / var(--typescale-ratio));

  --medium: calc(var(--base-font-size) * var(--typescale-ratio));

  --large: calc(var(--medium) * var(--typescale-ratio));
  --larger: calc(var(--large) * var(--typescale-ratio));
  --x-large: calc(var(--larger) * var(--typescale-ratio));
  --xx-large: calc(var(--x-large) * var(--typescale-ratio));

  /* Colors */

  --black: #262626;
  --white: #ffffff;
  --powder: #f9f8f4;
  --yale-blue: #094d92;
  --atomic-tangerine: #ff934f;
  --vivid-burgundy: #a61c3c;
  --dartmouth-green: #306b34;
  --gray: #464f51;
  --subtle-gray: #e9e7e7;
  --beige: #f5f5dc;

  /* Spacing */

  --space-scale: 8px;

  --spacer-0: 0;
  --spacer-1\/2: calc(var(--space-scale) / 2);

  --spacer-1: var(--space-scale);
  --spacer-2: calc(var(--space-scale) * 2);
  --spacer-3: calc(var(--space-scale) * 3);
  --spacer-4: calc(var(--space-scale) * 4);
  --spacer-5: calc(var(--space-scale) * 5);
  --spacer-6: calc(var(--space-scale) * 6);
  --spacer-7: calc(var(--space-scale) * 7);
  --spacer-8: calc(var(--space-scale) * 8);
  --spacer-9: calc(var(--space-scale) * 9);
  --spacer-10: calc(var(--space-scale) * 10);
  --spacer-11: calc(var(--space-scale) * 11);
  --spacer-12: calc(var(--space-scale) * 12);

  /* Screen sizes */
  /* 0-550px — Mobile */
  /* 551-1100px — Tablet */
  /* 1101-1500px — Laptop */
  /* 1501+px — Desktop */

  font-size: var(--base-font-size);
}

html,
body,
#__next {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--powder);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
